{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{article.description}}">
        <title>{{article.title}}</title>
    </head>
    <body>
        <header>
            <!--Add logo, h1 element with the company name and nav bar here -->
        <header>
        <main>
            <article>
                <h1>{{article.title}}</h1>
                <figure>
                    <img src="{{article.image.url}}" alt="Article image">
                </figure>
                <p>{{article.body}}</p>
            </article>
        </main>
        <footer>
            <!--Here we will add address, email and phone number-->
        </footer>
    </body>
</html>