{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css links  -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/carrer.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">

    
    <!-- js links -->
    <script src="https://unpkg.com/scrollreveal"></script>


    <title>Career</title>


    <style>
        .emptyTxt
        {
            text-align: center;
            font-weight: bolder;
            font-size: 20px;
        }
    </style>
</head>

<body>

    <!-- Loading Screen -->
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>


    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg  ftco-navbar-light">
        <div class="container-xl">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="{% static 'homepage/images/logo_psd.webp' %}" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:fleet' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive advantage</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- section 2  -->

    <section class="hero-wrap h-100" style="background-image:url('{% static 'homepage/images/blog-2.webp' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center text-center">
                <div class="col-lg-9">
                    <div class="text aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1000">
                        
                        <h2 style="font-weight: 700px; color:white ; font-size:60px;" class="mb-5">There are no secrets to success. It is the result of preparation and<span> hard
                                work</span>.</h2>

                                <span class="subheading">By Colin Powell</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- section3 -->

    <section class="p-5">
        <div id="career-card" class="p-2">



            <div class="card-head my-5">
                <p class="card-title text-muted"><small>In Al-Gammal for transportation services:</small></p>
                <h4>Exceptional Talents are always welcomed</h4>
                <h4><span style="color: #333333;font-size: 16px">if you believe that you have the
                        passion, capabilities, and the right mindset, beside being results-driven, feel free to contact us.</span></h4>
            </div>

            {% for job in jobs %}
                <div class="card-content">

                    <hr>
                    <div class="card-body">
                        <h5 class="card-title">{{job.title}}</h5>
                        <p class="card-text">{{job.description}}</p>
                    </div>

                </div>
            {% empty %}
                <p class="alert alert-danger emptyTxt">Sorry, we have no vacant positions at the moment.</p>
            {% endfor %}

        </div>
    </section>



<!-- Arrow Button -->
<a href="#" id="back-to-top" title="Back to top">&uarr;</a>



    <!-- footer -->
    <footer class="ftco-footer">

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">


                    <div class="col-md-6 text-center">
                        <iframe id="location"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227751.55269257154!2d31.224163327718493!3d29.94173548220289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584712e964f1b5%3A0x25813575b74961c3!2sAlGammal%20Contracting!5e0!3m2!1sen!2seg!4v1725178153486!5m2!1sen!2seg"
                            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-md-6 text-center">
                   
                        <p>Phone: <a href="tel:+201200000416"> <span class="icon fa fa-phone"></span> +20 120 0000 416</a></p>
                    </div>

                    <div class="col-md-12 text-center p-3">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                            <small>&copy; Copyright {{year}}, Al-Gammal Transportation and Services</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- js links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>





    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });


     
        ScrollReveal().reveal('.subheading ,.mb-5 ', { delay: 400, origin: 'right' });
      

    </script>



</body>

</html>