{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css links  -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/About us.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">

    <!-- js links -->
    <script src="https://unpkg.com/scrollreveal"></script>


    <style>
        .heading-line {
            position: relative;
            display: inline-block;
            padding-bottom: 10px;
            text-align: center;
        }

        .heading-line::before,
        .heading-line::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 50px;
            height: 3px;
            background-color: #ffbb00;
        }

        .heading-line::before {
            left: 0;
            transform: translateX(-110%);
        }

        .heading-line::after {
            right: 0;
            transform: translateX(110%);
        }
    </style>
    <title>Competitive advantage</title>
</head>

<body>

        <!-- Loading Screen -->
        <!-- <div id="loading-screen">
            <div class="spinner"></div>
        </div> -->

    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg  ftco-navbar-light">
        <div class="container-xl">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="images/logo_psd.webp" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:fleet' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive advantage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- section 2  -->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg-1.webp');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a href="{% url 'homepage:index' %}">Home <i
                                    class="fa fa-chevron-right"></i></a></span> <span>Competitive advantage <i
                                class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Competitive advantage</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- section 3 -->


    <section class="ftco-section ftco-services-section">
        <!-- safty -->
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                    <h2 class="mb-4 heading-line">Safety</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="img w-100" style="background: url(images/competitive1.jpeg);"></div>
                </div>
                <div class="col-md-6">
                    <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-construction"></span></div>
                        <div class="text">
                            <h2>Enhanced Protection</h2>
                            <p class="mb-4">Our commitment to safety ensures that your goods are transported with the
                                highest
                                level of protection. By adhering to rigorous safety standards and regularly maintaining
                                our fleet,
                                we minimize the risk of damage and ensure your shipments arrive intact.</p>
                            
                        </div>
                    </div>
                    <div class="services d-flex active-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-house-1"></span></div>
                        <div class="text">
                            <h2>Compliance with Regulations</h2>
                            <p class="mb-4">We meet all industry safety regulations and standards, providing peace of
                                mind that your transportation needs are handled responsibly and legally.
                                This compliance also helps avoid potential disruptions or legal issues.</p>
                            
                        </div>
                    </div>
                    <div class="services d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-engineer"></span></div>
                        <div class="text">
                            <h2>Experienced Personnel</h2>
                            <p class="mb-4">Our skilled drivers and staff are trained in best practices for safe
                                handling and transportation,
                                further safeguarding your cargo and reducing the likelihood of accidents or incidents
                                during transit.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Agility -->

        <div class="container-xl">
            <div class="row justify-content-center p-5">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                    <h2 class="mb-4 heading-line">Agility</h2>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-construction"></span></div>
                        <div class="text">
                            <h2>Rapid Response</h2>
                            <p class="mb-4">Our agile logistics operations allow us to quickly adapt to changing
                                customer requirements and market conditions. Whether you need expedited shipping or
                                adjustments to your transportation schedule, we can accommodate your needs efficiently.</p>
                            
                        </div>
                    </div>
                    <div class="services d-flex active-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-house-1"></span></div>
                        <div class="text">
                            <h2>Flexible Solutions</h2>
                            <p class="mb-4">We offer a range of customizable transportation options to suit different
                                types of cargo and delivery needs.
                                This flexibility ensures that we can handle diverse and dynamic logistics challenges
                                effectively.</p>
                            
                        </div>
                    </div>
                    <div class="services d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1000">
                        <div class="icon"><span class="flaticon-engineer"></span></div>
                        <div class="text">
                            <h2>Efficient Operations</h2>
                            <p class="mb-4">Our streamlined processes and technology-driven approach enable us to
                                optimize routes and reduce transit times, ensuring timely delivery and improved overall
                                service efficiency.</p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch">
                    <div class="img w-100" style="background: url(images/competitive2.jpeg);"></div>
                </div>
            </div>
        </div>


                <!-- Trust -->
                <div class="container-xl">
                    <div class="row justify-content-center p-5">
                        <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                            <h2 class="mb-4 heading-line">Trust</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="img w-100" style="background: url(images/competitve3.webp);"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                                data-aos-duration="1000">
                                <div class="icon"><span class="flaticon-construction"></span></div>
                                <div class="text">
                                    <h2>Reliable Performance</h2>
                                    <p class="mb-4">Our proven track record of dependable service builds trust with our clients. We
                                        consistently deliver on our promises, ensuring that your shipments are handled with care
                                        and arrive as scheduled.</p>
                                    
                                </div>
                            </div>
                            <div class="services d-flex active-2 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                                data-aos-duration="1000">
                                <div class="icon"><span class="flaticon-house-1"></span></div>
                                <div class="text">
                                    <h2>Transparent Communication</h2>
                                    <p class="mb-4"> We prioritize clear and open communication with our customers, providing regular updates
                                        on shipment status and addressing any concerns promptly.
                                        This transparency fosters confidence in our services.</p>
                                    
                                </div>
                            </div>
                            <div class="services d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                                data-aos-duration="1000">
                                <div class="icon"><span class="flaticon-engineer"></span></div>
                                <div class="text">
                                    <h2>Established Reputation</h2>
                                    <p class="mb-4"> With years of experience and a strong reputation in the industry, we have earned the
                                        trust of numerous clients.
                                        Our dedication to quality and integrity reinforces our reliability as a trusted partner
                                        in transportation and logistics.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
    </section>



    <!-- Arrow Button -->
    <a href="#" id="back-to-top" title="Back to top">&uarr;</a>











    <!-- footer -->
    <footer class="ftco-footer">

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">Copyright ©
                            <script type="text/javascript" async=""
                                src="https://www.google-analytics.com/analytics.js"></script>
                            <script>document.write(new Date().getFullYear());</script>2024 All rights reserved | This
                            template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a
                                href="" target="_blank" rel="nofollow noopener">Nada gamal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>





    <!-- js links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>


    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });


        ScrollReveal().reveal('.w-100 ', { delay: 700, origin: 'left' });
        ScrollReveal().reveal('.subheading ,.head ', { delay: 700, origin: 'right' });
        ScrollReveal().reveal('p ', { delay: 700, origin: 'right' });

    </script>
</body>

</html>


