{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links  -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/About_us.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'homepage/images/favicon.ico' %}">
    <!-- js links -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Fleet</title>
</head>

<body>

    <!-- Loading Screen -->
    <!-- <div id="loading-screen">
        <div class="spinner"></div>
    </div> -->


    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg  ftco-navbar-light">
        <div class="container-xl">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="{% static 'homepage/images/logo_psd.webp' %}" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:fleet' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive advantage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:create_order' %}">Make an Order</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- section 2  -->
    <!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('images/blog-2.webp');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 pt-5 text-center">
                    <p class="breadcrumbs"><span class="me-2"><a href="{% url 'homepage:index' %}">Home <i
                                    class="fa fa-chevron-right"></i></a></span> <span>Fleet <i
                                class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">Fleet</h1>
                </div>
            </div>
        </div>
    </section> -->


    <!-- section 3  -->

    <section class="p-5">
        <div class="container-xl">
            <div class="row g-xl-5">

            
                <div class="col-md-6 heading-section d-flex align-items-center aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="200" data-aos-duration="1000">
                    <div class="mt-5 mt-md-0">
                        <span class="subheading">Fleet </span>
                        <h2 class="mb-2 head">Ability to deliver goods quickly. </h2>
                        <p class="mb-4">Al-Gammal Transport and Logistics Company operates a versatile fleet of trucks tailored to meet various customer needs.
                             This includes the transportation of polyethylene and plastic pipes,
                             as well as trucks specialized for delivering food, mineral water, and other goods. </p>
                    </div>
                </div>

    
                <div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="100" data-aos-duration="1000">
                    <div class="w-100 img" style="background-image: url(images/img-1.webp); background-repeat: no-repeat; height: 600px; ">
                    </div>
                </div>

            </div>
        </div>
    </section>



    <!-- footer -->
    <footer class="ftco-footer">

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">


                    <div class="col-md-6 text-center">
                        <iframe id="location"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227751.55269257154!2d31.224163327718493!3d29.94173548220289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584712e964f1b5%3A0x25813575b74961c3!2sAlGammal%20Contracting!5e0!3m2!1sen!2seg!4v1725178153486!5m2!1sen!2seg"
                            width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-md-6 text-center">
                   
                        <p>Phone: <a href="tel:+201200000416"> <span class="icon fa fa-phone"></span> +20 120 0000 416</a></p>
                    </div>

                    <div class="col-md-12 text-center p-3">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                            <small>&copy; Copyright {{year}}, Al-Gammal Transportation and Services</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Arrow Button -->
    <a href="#" id="back-to-top" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- js links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>


    <script>
    ScrollReveal({
         reset: true,
         distance: '60px',
         duration:2500,
         delay:400
        });

        
        ScrollReveal().reveal('.w-100 ', { delay: 700,origin:'left' });
        ScrollReveal().reveal('.subheading ,.head ', { delay: 700,origin:'right' });
        ScrollReveal().reveal('p ', { delay: 700,origin:'right' });

</script>

</body>

</html>