{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links  -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/About_us.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'homepage/images/favicon.ico' %}">
    <!-- js links -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Fleet</title>
</head>

<body>

    <!-- Loading Screen -->
    <!-- <div id="loading-screen">
        <div class="spinner"></div>
    </div> -->


    <!-- Nav bar -->
    <nav class="navbar navbar-expand-lg  ftco-navbar-light">
        <div class="container-fluid me-5">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="{% static 'homepage/images/logo_psd.webp' %}" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:fleets' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive
                            advantage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:create_order' %}">Make an Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <section class="ftco-section ftco-services-section">

        
        <div class="container-xl">

            <div class="d-flex justify-content-center">
                <div class="col-md-8 heading-section text-center mb-2 aos-init aos-animate" data-aos="fade-up">
                    <span class="subheading p-5">Fleets</span>
                </div>
            </div>

            <h2 class="mb-4 appointment-head trending-banner sm fs-5 fw-semibold lh-base p-4 text-center mb-5">Al-Gammal Transport and Logistics Company operates
                a versatile fleet of trucks tailored to meet various customer needs. This includes the
                transportation
                of polyethylene and plastic pipes,
                as well as trucks specialized for delivering food, mineral water, and other goods.</h2>



            <div class="row pt-5">


                <!-- 1 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Specialty Equipment for Heavy and Specialized Transport</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 2 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Heavy-Duty Trucks for Major Infrastructure Projects</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 3 -->

                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Specialized Flatbed Trucks for Extra Large Size and Weighty Equipment</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>


                <!-- 4 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Medium-Duty Trucks for Diverse Transport Requirements</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 5 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Specialized Vehicles for Polyethylene Pipe Transport</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 6 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Buses and Minibuses for Worker Transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 7 -->

                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Refrigerated Trucks for Food and Beverage Delivery</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 8 -->

                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Luxury Sedans for Executives and Chairmen</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 9 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Premium SUVs for Executives and Managers</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 10 -->

                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Sedans for Administrative Staff</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 11 -->
                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Compact Cars for General Staff</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>

                <!-- 12 -->

                <div class="col-md-6 col-lg-4"">
                
                    <a href="" >
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Additional Buses and Minibuses for Worker Transport</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                
                
                
                </div>
            </div>










        </div>
    </section>





    <!-- footer -->
    <footer class="ftco-footer">

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">


                    <div class="col-md-6 text-center">
                        <iframe id="location"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227751.55269257154!2d31.224163327718493!3d29.94173548220289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584712e964f1b5%3A0x25813575b74961c3!2sAlGammal%20Contracting!5e0!3m2!1sen!2seg!4v1725178153486!5m2!1sen!2seg"
                            width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-md-6 text-center">

                        <p>Phone: <a href="tel:+201200000416"> <span class="icon fa fa-phone"></span> +20 120 0000
                                416</a></p>
                    </div>

                    <div class="col-md-12 text-center p-3">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                            <small>&copy; Copyright {{year}}, Al-Gammal Transportation and Services</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Arrow Button -->
    <a href="#" id="back-to-top" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>

    <!-- js links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>


    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 400
        });


        ScrollReveal().reveal('.w-100 ', { delay: 700, origin: 'left' });
        ScrollReveal().reveal('.subheading ,.head ', { delay: 700, origin: 'right' });
        ScrollReveal().reveal('p ', { delay: 700, origin: 'right' });

    </script>

</body>

</html>