{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">
    <!-- favicon link-->
    <link rel="icon" type="image/x-icon" href="{% static 'homepage/images/favicon.ico' %}">
 
    <title>Al-Gammal for transportation services.</title>

    <style>


        .custom-img-size {
            width: 100%;
            height: 150px;  /* Adjust this height as needed */
            object-fit: contain;
        }
        
        .carousel-inner .row {
            display: flex;
            justify-content: space-between;
        }

        .hero-wrap {
            position: relative;
            overflow: hidden;
        }
    
        
        .overlay, .text {
            position: relative;
            z-index: 2;
        }
         
    </style>

</head>

<body>
    <!-- Loading Screen -->
    <!-- <div id="loading-screen">
        <div class="spinner"></div>
    </div> -->

    <nav class="navbar navbar-expand-lg ftco-navbar-light">
        <div class="container-fluid me-5">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="{% static 'homepage/images/logo_psd.webp' %}" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:fleets' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive advantage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:create_order' %}">Make an Order</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Section 2 -->
    <section class="hero-wrap h-100" style="position: relative; overflow: hidden; height: 100vh; width: 100vw;">
        <!-- start Background video -->
        <div id="video_container" style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; overflow: hidden;">
            <iframe 
                src="https://player.vimeo.com/video/1006507720?badge=0&amp;background=1&amp;player_id=0&amp;app_id=58479" 
                frameborder="0" 
                allow="autoplay; fullscreen;" 
                title="al-gammal_logistics_bg" 
                style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; object-fit: cover;"
            ></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <!-- end Background Video-->
        
        <div class="overlay" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.536); z-index: 2;"></div>
        
        <div class="container" style="position: relative; z-index: 3;">
            <div class="row no-gutters slider-text align-items-center justify-content-center text-center">
                <div class="col-lg-9">
                    <div class="text aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <span class="subheading">Your logistics are no longer your problem!</span>
                        <h1 class="mb-5">Your attention is important, leave the <span>hassle</span> to us. Focus on your more important<span> tasks</span>.</h1>
                        <p>
                            <a href="{% url 'homepage:create_order' %}" class="btn btn-primary p-4 py-3">Make an Order
                                <span class="arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                    </svg>
                                </span>
                            </a>
                            <a href="{% url 'homepage:about' %}" class="btn btn-darken p-4 py-3 ms-4">Read More
                                <span class="arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                    </svg>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    



    <!-- Section 3  aboutus-->
    <section class="ftco-section ftco-about-section">
        <div class="container-xl">
            <div class="row g-xl-5">

                <div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="100" data-aos-duration="1000">
                    <div class="img w-100 careers-left-img"
                        style="background-image: url('{% static 'homepage/images/blog-3.webp' %}');">
                        <!-- <div class="counter-wrap d-flex">
                            <div class="icon"><span class="flaticon-engineer"></span></div>
                            <div class="text ps-3">
                                <span class="number"><span class="countup">Al-Gammal</span></span>
                                <span class="caption">Years of experienced</span>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="col-md-6 heading-section d-flex align-items-center aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="200" data-aos-duration="1000">
                    <div class="mt-5 mt-md-0">
                        <span class="subheading">About Us</span>
                        <h2 class="mb-2">Al-Gammal Transportation services company</h2>
                        <p class="mb-4">We are a company affiliated with Al-Gammal public contracting group.
                            The company was established in 2019, And operates in the activity of integrated
                            transportation and transportation services.
                            The sites have a fleet of trucks, excavators, jumbo cars, multiple private vehicles and
                            buses to meet all
                            of the transportation needs of our customers.</p>

                     
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Services Section 4 -->
    <section class="ftco-section ftco-services-section" id="services">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                    <span class="subheading">What We Do</span>
                    <h2 class="mb-4">Services</h2>
                </div>
            </div>
            <div class="row">

                <!-- col 1  -->
                <div class="col-md-4 ">

                    <a href="{% url 'homepage:services' 1 %}" class="ser">

                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Bulk <br> transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>



                    <a href="{% url 'homepage:services' 2 %}" class="ser">

                        <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Goods and raw materials transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 3 %}" class="ser">
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Container Transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 4 %}" class="ser">
                        <div class="services d-flex active  aos-init aos-animate" data-aos="fade-up"
                            data-aos-delay="100" data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Chemical Transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>





                </div>

                <div class="col-md-4 d-flex align-items-stretch">
                    <div class="img w-100 careers-right-img"
                        style="background: url('{% static 'homepage/images/com.webp' %}');"></div>
                </div>


                <!-- col2 -->
                <div class="col-md-4">

                    <a href="{% url 'homepage:services' 6 %}" class="ser">
                        <div class="services d-flex active aos-init aos-animate ser" data-aos="fade-up"
                            data-aos-delay="100" data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Contract Logistics</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 7%}" class="ser">
                        <div class="services d-flex  aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>FMCG Distribution and Management</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 8 %}" class="ser">
                        <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Project Transportation</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 9 %}" class="ser">
                        <div class="services d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Warehousing and Distribution Management</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                    <a href="{% url 'homepage:services' 5 %}" class="ser">
                        <div class="services d-flex active aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                            data-aos-duration="1000">
                            <div class="services d-flex">
                                <div class="icon">
                                    <span class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                            fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                        </svg>
                                    </span>
                                    </span>
                                </div>
                                <div class="text">
                                    <h2>Automated Distribution System</h2>
                                </div>
                            </div>
                        </div>
                    </a>


                </div>
            </div>
    </section>

    <!-- Section 5-->
    <section class="ftco-intro img" style="background-image: url('{% static 'homepage/images/bg_4.webp' %}');">
        <div class="overlay"></div>
        <div class="container-xl">
            <div class="row">
                <div class="col-lg-10 col-xl-10">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center aos-init aos-animate" data-aos="fade-up"
                            data-aos-delay="100" data-aos-duration="1000">
                            <div>
                                <span class="subheading">If you need a service that isn't listed here,</span>
                                <h3 class="mb-md-0 mb-4">
                                    Feel free to contact us, and we will surely have a solution to your problem.
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex align-items-center aos-init aos-animate" data-aos="fade-up"
                            data-aos-delay="100" data-aos-duration="1000">
                            <p class="mb-0"><a href="{% url 'homepage:contact' %}"
                                    class="btn btn-primary py-md-4 py-3 px-md-5 px-4">Contact Us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects Section 6 -->

    <section class="ftco-gallery ftco-section">
        <div class="container-xl-fluid">
            <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section aos-init aos-animate" data-aos="fade-up">
                    <span class="subheading">Portfolio</span>
                    <h2 class="mb-5">Projects</h2>
                </div>
            </div>
            <div class="row g-0">

                <!-- 1 -->

                <a href="{% url 'homepage:index' %}">
                    <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                        data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/1.webp' %}');">

                            <a href="images/work-1.webp"
                                class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                    class="fa fa-search"></span></a>
                            <div class="desc w-100 px-4">
                                <span>Building</span>
                                <h2><a href="#">High Tower Works</a></h2>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- </a> -->
                <!-- 2 -->

                <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                    data-aos-duration="1000">
                    <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                        style="background-image: url('{% static 'homepage/images/3.webp' %}');">
                        <a href="images/work-2.webp"
                            class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                class="fa fa-search"></span></a>
                        <div class="desc w-100 px-4">
                            <span>Building</span>
                            <h2><a href="#">High Tower Works</a></h2>
                        </div>
                    </div>
                </div>

                <!-- 3 -->

                <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                    data-aos-duration="1000">
                    <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                        style="background-image: url('{% static 'homepage/images/2.webp' %}');">
                        <a href="images/work-3.webp"
                            class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                class="fa fa-search"></span></a>
                        <div class="desc w-100 px-4">
                            <span>Building</span>
                            <h2><a href="#">High Tower Works</a></h2>
                        </div>
                    </div>
                </div>


                <!-- 4 -->
                <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100"
                    data-aos-duration="1000">
                    <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                        style="background-image: url('{% static 'homepage/images/4.webp' %}');">
                        <a href="images/work-4.webp"
                            class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                class="fa fa-search"></span></a>
                        <div class="desc w-100 px-4">
                            <span>Building</span>
                            <h2><a href="#">High Tower Works</a></h2>
                        </div>
                    </div>
                </div>


                <!-- 5 -->
                <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                    data-aos-duration="1000">
                    <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                        style="background-image: url('{% static 'homepage/images/8.webp' %}');">
                        <a href="images/work-5.webp"
                            class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                class="fa fa-search"></span></a>
                        <div class="desc w-100 px-4">
                            <span>Building</span>
                            <h2><a href="#">High Tower Works</a></h2>
                        </div>
                    </div>
                </div>




                <!-- 6 -->
                <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                    data-aos-duration="1000">
                    <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                        style="background-image: url('{% static 'homepage/images/6.webp' %}');">
                        <a href="images/work-6.webp"
                            class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink"><span
                                class="fa fa-search"></span></a>
                        <div class="desc w-100 px-4">
                            <span>Building</span>
                            <h2><a href="#">High Tower Works</a></h2>
                        </div>
                    </div>
                </div>













            </div>
        </div>
    </section>

    <!-- section 7 Partners  -->
    <section class="ftco-section testimony-section bg-light">
        <div class="container-xl">
            <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1000">
                    <span class="subheading">Partners</span>
                    <h2 class="mb-5">Our Partners</h2>
                </div>
            </div>


            
            <div class="container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p1.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 1">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p2.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 2">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p3.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 3">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p4.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 4">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p5.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 5">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p6.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 6">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p7.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 7">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p8.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 8">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p9.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 9">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p10.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 10">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p11.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 11">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p12.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 12">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p13.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 13">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p14.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 14">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p15.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 15">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p16.webp' %}" class="d-block w-100 custom-img-size" alt="Brand 16">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev d-flex justify-content-start" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next d-flex justify-content-end " type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            

        </div>
    </section>



    

    


    <!-- footer -->
    <footer class="ftco-footer">

        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">


                    <div class="col-md-6 text-center">
                        <iframe id="location"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227751.55269257154!2d31.224163327718493!3d29.94173548220289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584712e964f1b5%3A0x25813575b74961c3!2sAlGammal%20Contracting!5e0!3m2!1sen!2seg!4v1725178153486!5m2!1sen!2seg"
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <div class="col-md-6 text-center">

                        <p>Phone: <a href="tel:+201200000416"> <span class="icon fa fa-phone"></span> +20 120 0000
                                416</a></p>
                    </div>

                    <div class="col-md-12 text-center p-3">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                            <small>&copy; Copyright {{year}}, Al-Gammal Transportation and Services</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Arrow Button -->
    <a href="#" id="back-to-top" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <!-- <script src="{% static 'homepage/js/aos.js' %}"></script> -->
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>



</body>

</html>