{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Links -->
    <link rel="stylesheet" href="{% static 'homepage/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/style2.css' %}">
    <!-- favicon link-->
    <link rel="icon" type="image/x-icon" href="{% static 'homepage/images/favicon.ico' %}">
    <!-- js links -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <title>Al-Gammal for transportation services.</title>
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
        }

        #video_container {
            height: 100vh;
            width: 100vw;
        }

        .custom-img-size {
            width: 100%;
            height: 150px;
            /* Adjust this height as needed */
            object-fit: contain;
        }

        .carousel-inner .row {
            display: flex;
            justify-content: space-between;
        }

        .hero-wrap {
            position: relative;
            overflow: hidden;
        }


        .overlay,
        .text {
            position: relative;
            z-index: 2;
        }


        /* Image container with shape behind */
        .careers-left-img {
            height: 400px;
            border-radius: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        }

        .career-left-img::before {
            content: '';
            position: absolute;
            top: -30px;
            left: -30px;
            width: 100%;
            height: 100%;
            background: rgba(255, 172, 7, 0.826);
            /* Yellow transparent background */
            transform: rotate(-5deg);
            z-index: -1;
            border-radius: 20px;
        }



        /* Text section styling */

        .heading-section-about {
            background-color: #f8f9fa;
            padding: 40px;
            border-radius: 15px;
            position: relative;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        }

        .heading-section-about::before {
            content: '';
            position: absolute;
            top: -20px;
            right: -20px;
            width: 150px;
            height: 150px;
            background: rgba(255, 193, 7, 0.4);
            z-index: -1;
            border-radius: 50%;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        }

        .heading-section-about h2 {
            font-size: 2.5rem;
            font-weight: bold;
            color: #333;
            margin-bottom: 20px;
        }

        .heading-section-about .subheading {
            font-size: 1.2rem;
            color: #ffc107;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .heading-section-about p {
            font-size: 1.1rem;
            line-height: 1.8;
            color: #666;
        }

        .heading-section-about .subheading::after {
            content: '';
            display: block;
            width: 50px;
            height: 3px;
            background-color: #ffc107;
            margin-top: 5px;
        }

        /* Hover effect for text */
        .heading-section-about:hover {
            transform: scale(1.03);
            transition: 0.3s ease-in-out;
        }

        /* Image container styling */
        .careers-right-img {
            height: 250px;
            border-radius: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        }

        /* Responsive design */
        @media (max-width: 768px) {
            .careers-right-img {
                height: 200px;
            }
        }

        /*services*/
        /* Service item link styling */


        .ser {
            text-decoration: none;
        }



        .services:hover {
            background-color: #626262e0;
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        }

        /* Icon Styling */
        .services .icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
        }

        .services .icon svg {
            width: 40px;
            height: 40px;
            fill: #656565;
            transition: all 0.3s ease;
        }

        .services:hover .icon svg {
            fill: #ff9100b3;
        }

        /* Text Styling */
        .services .text h2 {
            font-size: 24px;
            color: #222;
            font-weight: 600;
            margin: 0;
        }

        .services .text p {
            margin: 0;
            font-size: 16px;
            color: #666;
        }


        /* img of about  */

        .line-left-img:before {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 100px;
            height: 10px;
            background: #F6B01A;
            z-index: 1;
            transition: 500ms all;
            -webkit-transition: 500ms all;
        }

        .line-left-img:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            width: 10px;
            height: 100px;
            background: #F6B01A;
            z-index: 1;
            transition: 500ms all;
            -webkit-transition: 500ms all;
        }
    </style>

</head>

<body>


    <nav class="navbar navbar-expand-lg ftco-navbar-light">
        <div class="container-fluid me-5">
            <a class="navbar-brand aside-stretch align-items-center" href="{% url 'homepage:index' %}">
                <img src="{% static 'homepage/images/logo_psd.webp' %}" class="logo-img">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" href="{% url 'homepage:index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:fleets' %}">Fleet</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:advantage' %}">Competitive
                            advantage</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:career' %}">Career</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:blog' %}">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'homepage:create_order' %}">Make an Order</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Section 2 -->
    <section class="hero-wrap h-100" style="position: relative; overflow: hidden; height: 100vh; width: 100vw;">
        <!-- start Background video -->
        <div id="video_container"
            style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; overflow: hidden; padding: 28%;">
            <iframe
                src="https://player.vimeo.com/video/1006507720?badge=0&amp;background=1&amp;player_id=0&amp;app_id=58479"
                frameborder="0" allow="autoplay; fullscreen;" title="al-gammal_logistics_bg"
                style="position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
        <!-- end Background Video-->

        <div class="overlay"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.536); z-index: 2;">
        </div>

        <div class="container" style="position: relative; z-index: 3;">
            <div class="row no-gutters slider-text align-items-center justify-content-center text-center">
                <div class="col-lg-9">
                    <div class="text aos-init aos-animate" data-aos="fade-up" data-aos-delay="300"
                        data-aos-duration="1000">
                        <span class="subheading">Your logistics are no longer your problem!</span>
                        <h1 class="mb-5">Your attention is important, leave the <span>hassle</span> to us. Focus on your
                            more important<span> tasks</span>.</h1>
                        <p>
                            <a href="{% url 'homepage:create_order' %}" class="btn btn-primary p-4 py-3">Make an Order
                                <span class="arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </span>
                            </a>
                            <a href="{% url 'homepage:contact' %}" class="btn btn-darken p-4 py-3 ms-4">Contact us
                                <span class="arrow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                        class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8" />
                                    </svg>
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section 3  aboutus-->
    <section class="ftco-section ftco-about-section">
        <div class="container-xl">
            <div class="row g-xl-5">
                <div class="col-md-6 d-flex align-items-stretch aos-init aos-animate" data-aos="fade-up"
                    data-aos-delay="100" data-aos-duration="1000">
                    <div class="img w-100 line-left-img"
                        style="background-image: url('{% static 'homepage/images/blog-3.webp' %}');">

                    </div>
                </div>
                <div class="col-md-6 heading-section-about d-flex align-items-center aos-init aos-animate"
                    data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="mt-5 mt-md-0">
                        <span class="subheading">Who are we?</span>
                        <h2 class="mb-2">Al-Gammal Transportation Services Company</h2>
                        <p class="mb-4">We are a company affiliated with Al-Gammal public contracting group.
                            The company was established in 2020, and operates in the activity of integrated
                            transportation and transportation services.
                            The sites have a fleet of trucks, excavators, jumbo cars, multiple private vehicles and
                            buses to meet all of the transportation needs of our customers.</p>

                        <!-- Video Section -->
                        <div class="video-container mt-4" style="
                            width: 100%;
                            height: auto;
                            overflow: hidden;
                            border-radius: 8px; /* Optional: round the video corners */
                            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Optional: add a shadow effect */
                            margin-top: 20px; /* Ensure some space above the video */">
                            <iframe style="
                                border: none;
                                border-radius: 8px;" width="100%" height="315"
                                src="https://www.youtube.com/embed/WEY1hnHvi1A?si=rocqpHe_OUo4qLRh&rel=0"
                                title="Al-Gammal Intro video" frameborder="0" allow="accelerometer; clipboard-write; 
                                encrypted-media; gyroscope;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Services Section 4 -->

    <section class="ftco-section ftco-services-section pb-2" id="services">
        <div class="container-xl">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-5 aos-init aos-animate" data-aos="fade-up">
                    <span class="subheading">What We Do</span>
                    <h2 class="mb-4">Services</h2>
                </div>
            </div>

            <!-- row1 -->
            <div class="row">

                <!-- main links -->
                <div class="col-md-6">

                    <!-- links -->
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{% url 'homepage:services' 1 %}" class="ser">

                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="100" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Bulk transportation</h2>
                                    </div>

                                </div>
                            </a>

                            <a href="{% url 'homepage:services' 2 %}" class="ser">

                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="200" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Goods and raw materials transportation</h2>
                                    </div>

                                </div>
                            </a>


                            <a href="{% url 'homepage:services' 3 %}" class="ser">
                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="300" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Container Transportation</h2>
                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                </div>


                <!-- image -->
                <div class="col-md-6">
                    <div class="img w-100 careers-left-img position-relative "
                        style="background-image: url('{% static 'homepage/images/1.webp' %}');">
                    </div>
                </div>

            </div>


            <!-- row2 -->
            <div class="row pt-5">

                <!-- image -->
                <div class="col-md-6">
                    <div class="img w-100 careers-left-img position-relative"
                        style="background-image: url('{% static 'homepage/images/4.webp' %}');">
                    </div>
                </div>

                <!-- main links -->
                <div class="col-md-6">

                    <!-- links -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- 4 -->
                            <a href="{% url 'homepage:services' 4 %}" class="ser">
                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="100" data-aos-duration="1000">
                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Chemical <br> Transportation</h2>
                                    </div>
                                </div>
                            </a>

                            <!-- 5 -->
                            <a href="{% url 'homepage:services' 5 %}" class="ser">
                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="300" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Automated Distribution System</h2>
                                    </div>

                                </div>
                            </a>

                            <!-- 6 -->

                            <a href="{% url 'homepage:services' 6 %}" class="ser">
                                <div class="services d-flex  aos-init aos-animate ser" data-aos="fade-up"
                                    data-aos-delay="100" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Contract Logistics</h2>
                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>

                </div>
            </div>



            <!-- row3 -->
            <div class="row pt-5">

                <!-- main links -->
                <div class="col-md-6">

                    <!-- links -->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- 7 -->
                            <a href="{% url 'homepage:services' 7%}" class="ser">
                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="200" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>FMCG Distribution and Management</h2>
                                    </div>

                                </div>
                            </a>


                            <!-- 8 -->

                            <a href="{% url 'homepage:services' 8 %}" class="ser">
                                <div class="services d-flex  aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="300" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Project Transportation</h2>
                                    </div>

                                </div>
                            </a>


                            <!-- 9 -->
                            <a href="{% url 'homepage:services' 9 %}" class="ser">
                                <div class="services d-flex aos-init aos-animate" data-aos="fade-up"
                                    data-aos-delay="100" data-aos-duration="1000">

                                    <div class="icon">
                                        <span class="arrow">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                                fill="currentColor" class="bi bi-arrow-right-circle-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                                            </svg>
                                        </span>
                                        </span>
                                    </div>
                                    <div class="text">
                                        <h2>Warehousing and Distribution Management</h2>
                                    </div>

                                </div>
                            </a>


                        </div>
                    </div>
                </div>


                <!-- image -->
                <div class="col-md-6">
                    <div class="img w-100 careers-left-img position-relative"
                        style="background-image: url('{% static 'homepage/images/3.webp' %}');">
                    </div>
                </div>
            </div>


        </div>
    </section>




    <!-- Projects Section 6 -->

    <section class="ftco-gallery ftco-section">
        <div class="container-xl-fluid">
            <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section aos-init aos-animate" data-aos="fade-up">
                    <span class="subheading">Portfolio</span>
                    <h2 class="mb-5">Projects</h2>
                </div>
            </div>
            <div class="row g-0"> <!-- g-0 ensures no gutters -->

                <!-- 1 -->
                <a href="{% url 'homepage:project' 1 %}" class="col-md-4 p-0"> <!-- p-0 removes padding -->
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_1.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>The Role of the Polyethylene Pipes in the Electricity Field</h2>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- 2 -->
                <a href="{% url 'homepage:project' 2 %}" class="col-md-4 p-0">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_2.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>Electrical Interconnection Project between Egypt and Saudi Arabia</h2>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- 3 -->
                <a href="{% url 'homepage:project' 3 %}" class="col-md-4 p-0">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_3.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>The Third Line of the High-Speed Electric Train Network</h2>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- 4 -->
                <a href="{% url 'homepage:project' 4 %}" class="col-md-4 p-0">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_4.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>The Toshka Project</h2>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- 5 -->
                <a href="{% url 'homepage:project' 5 %}" class="col-md-4 p-0">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_5.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>The Future Project in Dabaa</h2>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- 6 -->
                <a href="{% url 'homepage:project' 6 %}" class="col-md-4 p-0">
                    <div class="aos-init aos-animate" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1000">
                        <div class="gallery-wrap img d-flex align-items-end justify-content-center"
                            style="background-image: url('{% static 'homepage/images/project_6.webp' %}');">

                            <div class="icon d-flex align-items-center justify-content-center glightbox hoverZoomLink">
                                <span class="fa fa-search"></span>
                            </div>
                            <div class="desc w-100 px-4">
                                <h2>Vinci Project in the New Administrative Capital</h2>
                            </div>
                        </div>
                    </div>
                </a>

            </div>


        </div>
    </section>

    <!-- section 7 Partners  -->
    <section class="ftco-section testimony-section bg-light">
        <div class="container-xl">
            <div class="row justify-content-center pb-4">
                <div class="col-md-7 text-center heading-section aos-init aos-animate" data-aos="fade-up"
                    data-aos-duration="1000">
                    <span class="subheading">Partners</span>
                    <h2 class="mb-5">Our Partners</h2>
                </div>
            </div>



            <div class="container">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p1.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 1">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p2.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 2">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p3.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 3">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p4.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 4">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p5.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 5">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p6.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 6">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p7.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 7">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p8.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 8">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p9.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 9">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p10.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 10">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p11.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 11">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p12.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 12">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p13.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 13">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p14.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 14">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p15.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 15">
                                </div>
                                <div class="col">
                                    <img src="{% static 'homepage/images/partners/p16.webp' %}"
                                        class="d-block  custom-img-size" alt="Brand 16">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev d-flex justify-content-start" type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next d-flex justify-content-end " type="button"
                        data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>


        </div>
    </section>



    <!-- footer -->

    <footer class="ftco-footer">
        <div class="container-xl">
            <div class="row mb-5 pb-5 justify-content-between">
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 logo d-flex">
                            <a class="navbar-brand align-items-center" href="index.html">
                                Al-Gammal
                            </a>
                        </h2>
                        <iframe id="location"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227751.55269257154!2d31.224163327718493!3d29.94173548220289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14584712e964f1b5%3A0x25813575b74961c3!2sAlGammal%20Contracting!5e0!3m2!1sen!2seg!4v1725178153486!5m2!1sen!2seg"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </p>
                        
                    </div>
                </div>
               
                <div class="col-md-6 col-lg-2">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Quick Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'homepage:index' %}"><span class="fa fa-chevron-right me-2"></span>Home</a></li>
                            <li><a href="{% url 'homepage:about' %}"><span class="fa fa-chevron-right me-2"></span>About</a></li>
                            <li><a href="{% url 'homepage:blog' %}"><span class="fa fa-chevron-right me-2"></span>Blog</a></li>
                            <li><a href="{% url 'homepage:fleets' %}"><span class="fa fa-chevron-right me-2"></span>Fleets</a></li>
                            <li><a href="{% url 'homepage:advantage' %}"><span class="fa fa-chevron-right me-2"></span>Advantage</a></li>
                            <li><a href="{% url 'homepage:contact' %}"><span class="fa fa-chevron-right me-2"></span>Contact Us</a></li>
                            <li><a href="{% url 'homepage:create_order' %}"><span class="fa fa-chevron-right me-2"></span>Make an Order</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Question?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">
                                    10 A Rama building, Kattameya, Ring Road, Maadi,
                                                    Cairo, Egypt.
                                </span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+20 120 0000
                                    416</span></a></li>
                               
                            </ul>
                        </div>
                    </div>


                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                        <li><a href="#"><span class="fab fa-linkedin"></span></a></li>
                        <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 py-5 bg-darken">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p class="mb-0" style="color: rgba(255,255,255,.5); font-size: 13px;">
                            Copyright {{year}}, Al-Gammal Transportation and Services
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Arrow Button -->
    <a href="#" id="back-to-top" class="btn btn-primary btn-square back-to-top"><i class="fa fa-arrow-up"></i></a>


    <!-- JavaScript Links -->
    <script src="{% static 'homepage/js/popper.min.js' %}"></script>
    <script src="{% static 'homepage/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homepage/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'homepage/js/owl.carousel.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static 'homepage/js/main.js' %}"></script>


    <script>
        ScrollReveal({
            reset: true,
            distance: '60px',
            duration: 2500,
            delay: 200
        });


        ScrollReveal().reveal('.w-100 ', { delay: 200, origin: 'left' });
        ScrollReveal().reveal('.subheading ,.head ', { delay: 300, origin: 'right' });
        ScrollReveal().reveal('p ', { delay: 300, origin: 'right' });

    </script>

</body>

</html>