/* section2 */

.hero-wrap.hero-wrap-2 {
  min-height: auto;
  height: 500px;
  background-position: top center;
  background-attachment: fixed;
}

.hero-wrap.hero-wrap-2 .overlay {
  opacity: .7;
}

.hero-wrap.hero-wrap-2 .slider-text {
  min-height: auto;
  height: 500px;
}

